*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
body{
    /* background: #f4f4f4; */
    background: #fefefe;
}
button{
    cursor: pointer;
}
input[type="submit"], input[type="radio"] { 
    cursor: pointer;
}
h1{
    height: 10vh;
    text-align: center;
}
.hidden{
    display: none;
}
#hidden1{
    display: none;
}
a{
    color: black;
    cursor: pointer;
}
.boldo{
    font-weight: bolder;
}
/* HEADER */
.header{
    display: flex;
    justify-content: space-around;
     align-items: center;
     height: 20vh;
     font-size: 1.6em;

}
.header_logo{
    width:15%;
}
.header_logo img{
    width: 100%;
}
.header_navi{
    width: 40%;
}
.header_menu{
    display: flex;
    justify-content: space-between;
}
.header_li_menu a{
    color: black;
}
.header_icones {
   display: flex;
   justify-content: space-between;
   width: 25%;
   font-size: 20px;
}
.bloc_recherche{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
}

.header_icones li .rechercher {
     font-size: 18px;
     margin-right: 10px;
     height: 130%;
     width: 80%;
     border-radius: 5px;
     padding-left: 5px;
}
.loupe{
    cursor: pointer;
}
.connexion_button{
    cursor: pointer;
}

#burger{
    display: none;
    cursor: pointer;
}


@media screen and (min-width: 1023px) and (max-width: 1300px) {
    .header_icones li .rechercher {
        font-size: 14px;
        height: 120%;
    }
    .header_icones{
        width: 30%;
    }
}
@media screen and (min-width: 300px) and (max-width: 1023px) {
    #burger {
      display: flex;
      width: 15%;
      justify-content: center;
      
    }
    #burger:before {
      content: "\2630";
      font-size: 1.5em;
    }
    .active #burger:before {
      content: "\2715";
      font-size: 1.5em;
    }
    .header_menu {
      position:absolute;
      left: -100%;
      top: 15%;
      flex-direction: column;
      background: #f4f4f4;;
      width: 100%;
      text-align: center;
      transition: 0.25s;
      z-index: 1;
    }
    .header_menu li {
      padding: 3px 0;
    }
    .header_menu li:hover {
      background:#cacaca;
    }
    .header.active ul {
      left: 0;
    }
    .header_logo{
        width: 25%;
        margin-left: 5%;
    }
    .header_icones {
        width: 50%;
    }

  }
  @media screen and (min-width: 300px) and (max-width: 768px) {
    /* PETIT ECRAN */
    .header{
        display: flex;
        justify-content: center;
    }
    .header_icones li .rechercher {
        font-size: 14px;
        height: 120%;
    }
    .header_icones{
        width: 100%;
    }

    .header_logo{
        width: 20%;
    }
    .header_logo img{
    width: 250%;
    }
    #burger {
    width: 25%;
    }
}
  



/* ESHOP */



.eshop_main{
    display: flex;
    flex-direction: column;
    
}
.eshop_container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    justify-content: space-around;
    /* height: 330vh; */
    height: auto;
}
.eshop_container section{
margin-top: 5%;
margin-bottom: 5%;
}
.eshop_nouv{
    position: relative;
    
}
.eshop_nouv img{
    height: auto;
    width: 100%;
    

}

.titre_article{
    border-bottom: #333 1px solid;
    width: 80%;
    margin-left: auto;
}



.eshop_perm{
    position: relative;
}
.eshop_perm img{
    height: auto;
    width: 100%;

}






.eshop_main_centre{
    display: flex;
    justify-content: space-evenly;
}
.eshop_blouson {
    width: 40%;
    position: relative;
}
.eshop_blouson img{
    width: 100%;
    height: auto;
}

.eshop_jeans {
    width: 40%;
    position: relative;
}
.eshop_jeans img{
    width: 100%;
    height: auto;
}

.eshop_main_titre{
    position: absolute;
    top: 45%;
    left: 30%;
    color: white;
    font-size: 60px;
}
.perma_titre{
    top: 50%;
    left: 35%;
}
.eshop_main_btn{
    position: absolute;
    top: 75%;
    left: 43%;
    background-color:#0A4366 ;
    border-radius: 10px;
    padding: 10px;
    border: #0A4366;
    color: white;

} 












 .footer_top{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}
.footer_icones {
    margin: 10px;
}

.footer_avantages{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.footer_avantages p, .footer_avantages h3{
    width: 80%;
}
.footer_center{
    display: flex;
    height: auto;
}

.footer_avis{
    display: flex;
}
.footer_avis_droite{
    background-color: #0A4366;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
/* .footer_logo{
    width: auto;
} */

.footer_avis_droite h3 {
    width: 100%;
    text-align: center;
    margin: 5%;
}
.footer_avis_droite a {

    padding: 2%;
    color: white;
    font-size: 1.6em;
    border: #fefefe 1px solid;
    border-radius: 50px;
}
.footer_avis_droite p{
    color: white;
    font-size: 1.5em;
    width: 80%;
    text-align: center;
    margin: 10%;
}

.footer_avis_gauche{
    width: 50%;
    height: auto;
}
.footer_avis_gauche img{
    width: 100%;
    height: 100%;
}


.footer_bottom{
    width: 100%;
    
}

@media screen and (min-width: 300px) and (max-width: 1023px) {
    .footer_center{
        display: flex;
        flex-direction: column;
    }
    .footer_avis_gauche{
        width: 100%;
    }
    .footer_avis_droite{
        width: 100%;
    }
    
    .footer_avis_droite h3 {
    margin: 10%;
}
.footer_avis_droite p{
    margin: 7%;
}
.footer_avis_droite img{
    margin: 10%;
}
}




.connexion_section{
    width: 30vw;
    min-width: 400px;
    height: 50vh;
    margin: auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  
    background-color: white;
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;

}
.close_co , .close_inscri {
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    font-size: 3rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;

  }

.connexion_div{
    height: 70%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.connexion_titre{
    height: 20%;
}
.connexion_form{
   height: 50%;
   width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.connexion_aide{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.connexion_form input{
    height: 25%;
    padding-left: 10px;
    
}
.connexion_submit{
    border: 0;
    border-radius: 20px;
    background-color: #0A4366;
    color: white;
    cursor: pointer;
    padding: 0;
}
.overlay_inscri , .overlay_co{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
    position: fixed;
}
.inscription_lien , .connexion_lien{
    cursor: pointer;
}


























.inscription_div{

    width: 40vw;
    min-width: 400px;
    height: auto;
    margin: auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    width: 30vw;
    min-width: 400px;
    height: 50vh;
    margin: auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15%;
    left: 30%;
   
    background-color: white;
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    position: fixed;
}
.inscription_section{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    
}
.inscription_section input{
    border: rgba(0, 0, 0, 0.200) solid 1px ;
}
.inscription_section * :not(.inscription_radio label, .form_date ){
    margin: 5px;
}
.inscription_titre{
    font-size: 35px;
    margin: 20px;
}
.inscription_form{
    width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}
.inscription_radio{
    display: flex;
    align-items: center;
    
    
}
.nomprenom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.form_date{
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
    
}
.inscription_emailmdp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}
.inscription_aide{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}



.nomprenom input , .inscription_emailmdp input{
    padding-left: 10px;
    height: 50px;
    
}
.inscription_submit{
    padding: 0;
    border: 0;
    border-radius: 25px;
    height: 50px;
    background-color: #0A4366;
    color: white;
    
}
.form_date select{
    width: 30%;
    height: 50px;
    padding-left: 5px;
    border: rgba(0, 0, 0, 0.200) solid 1px ;
   
}
input[type=radio] {
    height: 1.5em;
    width: 1.5em;
   
    
}
.inscription_radio label{
    padding: 5px;
}


/* accueil slider 1 */
.accueil_section1{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.bloc_slider{
    display: flex;
    justify-content: center
}
    .slider {
        position: relative;
        width: 60vw;
        display: flex;
        align-items: center;
        overflow: hidden;
        
    }
    .slider img{
        width: 100%;
        /* transition: 0.25s; */
    }
    #precedent,
    #suivant {
        cursor: pointer;
        position: absolute;
        font-size: 2.5em;
        width: 5%;
        color: rgba(220, 220, 220, 0.6);
        background-color: rgba(0, 0, 0, 0.4);
        padding: 10px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        
    }
    
    #precedent {
        left: 0;
    }
    
    #suivant {
        right: 0;
    }
    


    
.accueil_section2{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
}
.accueil_section2 ul{
    display: flex;
    width: 100%;
}
.accueil_section2 ul li{
    margin: 10px;
    width: 20%;
    /* height: auto; */
}
.accueil_section2 ul li img{
    height: auto;
    width: 100%;
}
.accueil_section3{
    display: flex;
    justify-content: center;
}

.accueil_section3 img{
    width: 35%;
    margin: 20px;
}
.boutiques{
    background-color: #f4f4f4;
    width: 35%;
    margin: 20px;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1.3em;
}
.boutiques button{
    width: 50%;
    padding: 2%;
    font-size: 1.2em;
    border-radius: 50px;
    border: 1px solid black;
}
.boutiques p{
    font-size: ;
}
@media screen and (min-width: 300px) and (max-width: 1350px) {
        .slider {
        width: 70vw;
    }
    .accueil_section3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .accueil_section3 img{
        width: 70%;
        margin: 0;
    }
    .boutiques{
        width: 70%;
    }
    .boutiques>*{
        margin: 5%;
    }

}
@media screen and (min-width: 300px) and (max-width: 1025px) {

    
}













.boutiques_section2{
    display: flex;
    justify-content: center;
}
.boutiques_rdv_haut{
    display: flex;
    justify-content: center;

}
.boutiques_rdv_haut img{
    margin: 30px;
}




.titre_article{
    text-align: center;
    margin: 20px;
}
.list_article{
    display: flex;
    justify-content: space-around;
    
}

.element_article{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

.bloc_description{
    display: flex;
    justify-content: space-between;
}
.bloc_description div{

    margin: 10px;
}





.bloc_style{
    width: 100%;
    height: 500px;
}
.white{
    display: flex;
    justify-content: center;
    height: auto;
}
.white img{
    width:70vw;
    height: auto;
}
.blue{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #0A4366;
    text-align: center;
    margin-top: -400px;
    height: 700px;
    color: white;
    font-size: 1.5rem;
}
.beige{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #c69e77;
    text-align: center;
    margin-top: -400px;
    height: 700px;
    color: white;
    font-size: 1.5rem;
}
.blue_para{
    width: 80%;
}
.vide{
    width:100%;
    height:400px;
}

.concept_main{
    font-size: 24px;
}

.concept_section1{

}
.concept_section2{
    display: flex;
    flex-direction: column;
}
.bloc_media{
    display: flex;
    justify-content: center;

}
.bloc_media img{
    width: 35%;
    margin: 20px;
}
.media{
    background-color: #f4f4f4;
    width: 35%;
    margin: 20px;
    padding: 20px;

}
.impact{
    align-self: center;
    text-align: center;
    width: 70%;
}


.concept_section3{
    display: flex;
    flex-direction: column;
 
}
.bloc_pilier{
    display: flex;
    justify-content: center;
}
.bloc_pilier img{
width: 35%;
margin: 20px;
}
.pilier{
    background-color: #f4f4f4;
    width: 35%;
    margin: 20px;
    padding: 20px;

}







@media screen and (min-width: 768px) and (max-width: 1023px){

}








.profile_container{

}
.profile_section{

    /* min-width: 400px; */
    height: 60vh;
    width: 70vh;
    /* margin: auto; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
      display: flex;
}
.profile_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70%;
}
.bandeau {
    background-color:#0A4366 ;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 20vh;

}
.bandeau img{
    border-radius: 50%;
    margin-bottom: -200px;
}